.prepare {
    min-height: 3px;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
}
.prepareleft {
    display: none;
}
.prepareright {
    display: none;
}
.preparemid {
    padding-top: 30px;
    padding-bottom: 30px;
}
.breadcrumbs ul {
    margin: 0;
    padding: 0;
}
.breadcrumbs ul li {
    display: inline-block;
}
.breadcrumbsparent {
    background-color: #0058A7;
    color: #FFF;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
}
.breadcrumbsdivider {
    font-size: 20px;
    display: grid;
    place-items: center;
    padding: 0px 15px 0px 15px;
    color: #0058A7;
}
.breadcrumbsmenu {
    background-color: #FF6961;
    color: #FFF;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
}
.preparecontent {
    display: grid;
    /* grid-template-columns: 350px 1fr ; */
    grid-template-columns: 1fr ; 
    min-height: 5px;
    margin-top: 30px;
}
.preparerule {
    /* border: 2px solid #0058A7; */
    border-radius: 5px;
    overflow: hidden;
    /* margin-right: 20px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.prepareruletitle {
    display: grid;
    place-items: center;
    padding: 10px;
    color: #FFF;
    font-size: 14px;
    background-color: #0058A7;
}
.preparerulepoint {
    color: #000000;
    padding: 10px 30px 10px 10px;
    margin: 15px 40px;
}
.preparerulepoint ol li {
    font-size: 14px;
    padding-left: 10px;
    margin: 4px 0px;
}
.preparepackageinfo {
    /* background-color: yellow; */
    display: grid;
    min-height: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: 20px;
}
.preparepackageinfoboxactive {
    margin-top: 30px;
    /* background-color: #0058A7; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.preparepackageinfoboxinactive {
    margin-top: 30px;
    /* background-color: red; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.preparepackageinfoboxactive .preparepackageinfosection {
    text-align: center;
    font-size: 14px;
    background-color: #ff5a28;
    color: white;
    padding: 10px 30px;
    display: grid;
}
.preparepackageinfoboxinactive .preparepackageinfosection {
    text-align: center;
    font-size: 14px;
    background-color: #2f2f2f;
    color: white;
    padding: 10px 30px;
    display: grid;
}
.preparepackageinfoboxactive .preparepackageinfonav {
    height: fit-content;
    display: grid;
    place-items: end;
    padding: 20px;
}
.preparepackageinfoboxactive .preparepackageinfonav a {
    border: 1px solid #ff5a28;
    text-decoration: none;
    outline: none;
    color: #ff5a28;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.preparepackageinfoboxinactive .preparepackageinfonav {
    height: fit-content;
    display: grid;
    place-items: end;
    padding: 20px;
}
.preparepackageinfonav i {
    margin-right: 10px;
}
.preparepackageinfoboxinactive .preparepackageinfonav a {
    border: 1px solid #2f2f2f;
    background-color: #2f2f2f;
    color: white;
    text-decoration: none;
    outline: none;
    /* color: #0058A7; */
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
}
.preparepackageinfoboxactive .preparepackageinfonav a:hover {
    background-color: #ff5a28;
    color: white;
    border: 1px solid #ff5a28;
}
.preparepackageinfosection i {
    font-size: 20px;
    margin-bottom: 5px;
}
.preparepackageinfocomponent {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    padding: 30px;
}
.preparepackageinfocomponent ul {
    margin: 0;
    padding: 0;
    /* background-color: red; */
}
.preparepackageinfocomponent ul li {
    list-style: none;
    font-size: 14px;
}
.preparepackageinfocomponentcolumntitle {
    font-weight: bold;
    margin-bottom: 20px;
}
@media (max-width: 900px) {
    .prepare {
        min-height: 3px;
        display: grid;
        grid-template-columns: 5vw 90vw 5vw;
    }
    .preparerulepoint {
        color: #000000;
        padding: 10px 10px 10px 5px;
    }
    .preparepackageinfo {
        /* background-color: yellow; */
        display: grid;
        min-height: 10px;
        grid-template-columns: 1fr;
        width: 100%;
        column-gap: 0px;
    }
    .preparepackageinfocomponent {
        display: grid;
        grid-template-columns: 75% 1fr;
        padding: 20px;
    }
}
.tryout {
    display: grid;
    grid-template-columns: 10vw 60vw 20vw 10vw;
    padding-bottom: 30px;
    /* background-color: grey; */
    min-height: 100px;
    
}
.tryoutmid {
    display: none;
}
.tryoutleft {
    /* background-color: coral; */
    margin-right: 30px;
    /* background-color: yellow; */
    padding-bottom: 30px;
}
.questionnavwrapper {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* margin-top: 30px; */
}
.questionnavtitle {
    background-color: #0058A7;
    display: grid;
    place-content: center;
    padding: 10px;
    font-size: 14px;
    color: white;
}
.questionnavcontent {
    display: grid;
    /* grid-template-columns: repeat(5,  30px); */
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 20px;
    padding: 40px 30px 0px 30px;
    place-content: center;
}
.questionnavbox {
    /* background-color: #0058A7; */
    /* min-height: 45px; */
    position: relative;
    display: grid;
    place-items: center;
    /* background-color: grey; */
}
.questionnavboxwrapper {
    position: relative;
    cursor: pointer;
}
.questionanswerbasestate {
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    width: 30px;
    color: #0058A7;
    background-color: #FFF;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 5px;
}
.questionanswercompleted {
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #00ff6e;
    width: 30px;
    color: #007a35;
    background-color: #ccffe2;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 5px;
}
.questionanswerinprogress {
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #ffd000;
    width: 30px;
    color: #7a5100;
    background-color: #fff1cc;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 5px;
}
.questionnumberactivemultiplechoice {
    position: absolute;
    font-size: 10px;
    top: -12px;
    right: -18px;
    border: 1px solid #0058A7;
    background-color: #0088ff;
    width: 36px;
    height: 18px;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 15px;
}
.questionnumberactivetruefalse {
    position: absolute;
    font-size: 10px;
    top: -12px;
    right: -18px;
    border: 1px solid #a70038;
    background-color: #ff0055;
    width: 36px;
    height: 18px;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 15px;
}
.questionnumberactivemultiplecheck {
    position: absolute;
    font-size: 10px;
    top: -12px;
    right: -18px;
    border: 1px solid #00a708;
    background-color: #00d10a;
    width: 36px;
    height: 18px;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 15px;
}
.questionnumberinactivemultiplechoice {
    position: absolute;
    font-size: 10px;
    top: -12px;
    right: -18px;
    background-color: white;
    border: 1px solid #0058A7;
    width: 36px;
    height: 18px;
    color: #0058A7;
    display: grid;
    place-items: center;
    border-radius: 15px;
}
.questionnavchangepage {
    padding: 30px;
    display: grid;
    place-items: end;
}
.nextpage {
    border: none;
    outline: none;
    color: #FF6961;
    border: 1px solid #FF6961;
    height: 50px;
    width: 50%;
    background-color: #FFF;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 14px;
}
.nextpage:hover {
    background-color: #FF6961;
    color: #FFF;
    width: 75%;

}
.questionnumberinactivetruefalse {
    position: absolute;
    font-size: 10px;
    top: -12px;
    right: -18px;
    background-color: white;
    border: 1px solid #a70038;
    width: 36px;
    height: 18px;
    color: #a70038;
    display: grid;
    place-items: center;
    border-radius: 15px;
}
.questionnumberinactivemultiplecheck {
    position: absolute;
    font-size: 10px;
    top: -12px;
    right: -18px;
    background-color: white;
    border: 1px solid #00a708;
    width: 36px;
    height: 18px;
    color: #00a708;
    display: grid;
    place-items: center;
    border-radius: 15px;
}
.timerwrapper{
    text-align: center;
    font-size: 36px;
    margin-bottom: 24px;
}
@media (max-width: 900px) {
    .tryout {
        display: grid;
        grid-template-columns: 5vw 90vw 5vw;
        padding-bottom: 30px;
    }
    .tryoutmid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .tryoutleft {
        display: none;
        background-color: green;
    }
    .tryoutright {
        display: none;
        background-color: red;
    }
    .questioncontent {
        padding: 5px 20px 30px 20px;
        font-size: 14px;
    }
    .answertruefalsewrapper {
        display: grid;
        grid-template-columns: 60% 1fr 1fr;
        margin-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 10px;
    }
    .answertruefalsewrappertitle {
        display: grid;
        grid-template-columns: 60% 1fr 1fr;
        margin-bottom: 10px;
    }
}